$banner-height : 580px;
$text-color: $white-color;

.hero-banner {
    height: $banner-height;
   // background-color: $primary-color;
    background-color: $dark-blue-color;


    .carousel {


        &-inner {}


        &-item {
            img {
                opacity: 0.2;
                height: $banner-height;
                object-fit: cover;
            }


            h5 {
                font-size: 4em;
                font-weight: 700;
                color: $text-color;
            }

            p {
                color: $text-color;
                max-width: 580px;
                margin: 0px auto;
            }



            .input-group {
                max-width: calc($banner-height + 10%);
                margin: 0px auto;
                padding: 5px;
                background-color: $white-color;
                border-radius: .375em;
                overflow: hidden;

                .form-control{
                    border: none;
                    padding: 1em;
                }

                .btn{
                    border-radius: .375em !important;
                    padding-inline: 1.5em;
                }
            }

            .carousel-caption {
                top: 50%;
                bottom: unset;
                transform: translateY(-50%);
                display: flex;
                flex-direction: column;
                gap: 20px;
            }


        }



    }

    @media (max-width:720px) {
        $banner-height : 400px;
        height:$banner-height;
        .carousel {
            &-item {
                h5 {
                    font-size: 2em;
                }
                p{
                    font-size: 12px;
                }

                img {
                    height: $banner-height;
                }
            }
        }
    }
}