
<div id="carouselExampleDark" class="carousel carousel-dark slide hero-banner">
    <div class="carousel-indicators" *ngIf="false">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button *ngIf="false" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button *ngIf="false" type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../assets/img/banner/banner1.avif" class="d-block w-100" alt="Banner1">
        <div class="carousel-caption ">
          <h5 >Find Your Perfect <span class="d-block">Companion</span></h5>
          <p>Connect with shelters, veterinarians, and NGOs to give animals the care they deserve. Adopt, heal, and support animal welfare initiatives.</p>
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
            <button class="btn btn-primary" type="button" id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i> Search</button>
          </div>
        </div>
      </div>
     
    </div>

    <button *ngIf="false" class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>

    <button *ngIf="false" class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  